* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
h1 {
  font-size: 50px;
  color: navy;
}

header {
text-align: center;
background-color: darkcyan;
}

p {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  padding-top: 0%;
  padding-bottom: 0;
  color:darkcyan;
  font-weight: bold;
}



.navbar{
background-color: black;
font-size: 30px;
color: white;
width: 75%;
margin: 0 auto;
}

.page-format {
width: 100vw;
margin: 0 auto;
}

main {
  text-align: center;
  background-color: lightgrey;
}

 a {
  color: white;
  text-decoration: none;
  text-align: 30px;
}


 span { 
   display: inline-block; 
   width: 75%; 
 } 

  @media screen and (max-width: 500px) {
  body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: green;
    height: 90vh;
    width: 80%;
  }

  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .crime-types {
    display: flex;
    flex-wrap: wrap-reverse;
  }
h3 {
  font-size: 30px;
}

  h2 {
    color: black;
  }

     

  } 
 
  .state-data{
   display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
    display: inline-block;

    } 
    



select {
  margin: 20px;
  font-size: 150%;
}

button{
  height: 30px;
  font-size: 25px;
  border-radius: 50%;
  border: 50px;
  width: 50px;
  height: 50px;
  border-image-width: 100;
}

h3 {
text-align: right;
font-size: 75px;
text-align: center;
padding-bottom: 0;
}

.data-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;
}

.data-div div {
  flex-basis: 1;
  text-align: center;
  width: 85px;
}

.crime-types {
  font-size: 20px;
  font-weight: bold;
  font-style: bold;
  text-decoration: underline;
  display: block;
}

.form-wrap {
  text-align: center;
  margin: 0 auto;
}