* {
  font-family: 'Yanone Kaffeesatz', sans-serif;

}
h1 {
  font-size: 50px;
  color: navy;
}

header {
text-align: center;
background-color: darkcyan;
}

.navbar{
background-color: black;
font-size: 30px;
color: white;
width: 75%;
margin: 0 auto;
}

 a {
  color: white;
  text-decoration: none;
  text-align: 30px;
}

span {
  display: inline-block;
  width: 75%;
}

/* .statedata {
  padding: 15%;
} */

select {
  margin: 20px;
  font-size: 150%;
}

button{
  height: 30px;
  font-size: 100%;
}

h3 {
text-align: right;
}